<section class="trending-recipes">
  <div class="trending-header">
    <h2>🔥{{ 'headings.trendingRecipes' | t }}</h2>
  </div>
  <div class="recipes-list-wrapper">
    {% for recipe in recipes %}
      {% include "_partials/_recipe_card.html.twig" with { 'recipe': recipe } %}
    {% else %}
      <div class="no-recipe"></div>
    {% endfor %}
  </div>
</section>