<p>{{ 'messages.user.contact.helloUser' | t({ '%username%': user.nickname }) }}</p>
<p>
  {{ 'text.passwordChangeWarningEmail' | t }} <a href="mailto:{{ get_env('admin_mail') }}">{{ get_env('admin_mail') }}</a>.
</p>
