.number-increment {
  cursor: pointer;
  color: $bright-green;
  aspect-ratio: 1 / 1;
  width: min-content;
  display: inline-flex;
  align-items: center;
  margin-right: 0.25rem;

  transition: color 100ms;

  &:active {
    color: $dark-green;
  }
}

.portions-input-wrapper {
  display: flex;
  flex-direction: row !important;

  .number-increment {
    font-size: 1.5rem;
  }

  input {
    flex-grow: 1;
  }
}