.recipe-ingredients {
  display: flex;
  flex-direction: column;

  .recipe-ingredient {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border: 2px solid $bright-green;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 1.125rem;
    font-weight: bold;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    .ingredient {
      display: flex;
      align-items: center;
      color: $dark-green;

      .ingredient-name {
        margin-inline-start: 0.25em;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    
    .quantity {
      display: flex;
      align-items: center;
      margin-left: auto;
      color: $gray-green;

      .ingredient-optional {
        background-color: mix($gray-green, $white, 80%);
        color: $white;
        margin-inline-end: 0.5em;
        font-size: 0.75em;
        font-weight: 600;
        padding: 0.125em 0.25em;
        border-radius: 0.5em;
      }
    }
  }
}