.recipe-ingredients-list {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;

  .recipe-ingredient-subform {
    position: relative;

    border: 2px solid $bright-green;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;

    .remove-subform {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.25rem;
      color: $red;
      cursor: pointer;
    }

    .ingredient-label-wrapper {
      display: flex;
      align-items: center;
      justify-content: start;

      .ingredient-emoji {
        margin-right: 0.125rem;
      }
  
      label.ingredient-label {
        font-size: 1.25rem;
        color: $dark-green;
        font-weight: bold;
  
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    
    .quantity {
      display: flex;
      align-items: center;
      font-size: 1.75rem;
      margin-bottom: 0.25rem;
      width: min-content;

      input {
        min-width: 0;
        width: 12rem;
      }

      .unit {
        color: $gray-green;
        margin-left: 0.25rem;
        user-select: none;
      }
    }

    .is-optional {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}