.recipe-card {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  max-width: 22.5rem;
  min-width: 18rem;
  height: auto;
  aspect-ratio: 3 / 1;
  background-color: $white;
  border: 2px solid $bright-green;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  transition: opacity 150ms;

  &:hover {
    opacity: 0.85;
  }

  @media screen and (min-width: $bp-desktop) {
    min-width: 22.5rem;
  }

  a.card-link {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 5;
  }

  .img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;

    border-radius: calc(0.5rem - 1px) 0 0 calc(0.5rem - 1px);

    .views-wrapper {
      color: mix($gray-green, $black, 75%);
      position: absolute;
      inset: auto auto 0.35em 0.35em;
      display: flex;
      align-items: center;
      font-size: 0.75em;
      background-color: change-color($color: $gray-green, $alpha: 0.25);
      padding: 0.125em 0.25em;
      border-radius: 0.25em;
      font-weight: 700;

      svg {
        font-size: 0.85em;
        margin-right: 0.125rem;
      }
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.5rem;

    font-size: 0.75rem;
    color: $gray-green;
    font-weight: 800;

    @media screen and (min-width: $bp-desktop) {
      font-size: 0.85rem;
    }

    h4 {
      font-size: 1.25em;
      color: $bright-green;
      font-weight: 700;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (min-width: $bp-desktop) {
        font-size: 1.5em;
      }
    }

    @for $i from 0 through 2 {
      :nth-child(#{$i+2}) {
        opacity: #{1 - (0.15 * $i)};
      }
    }

    .score-and-duration-wrapper {
      display: flex;
      align-items: center;

      > :not(:first-child) {
        margin-left: 0.25rem;
      }
    }

    .portions-and-date-wrapper {
      display: flex;
      align-items: center;
      > :not(:first-child) {
        margin-left: 0.25rem;
      }
    }
  }
}