{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.about' | t }}{% endblock %}

{% block body %}
<section id="about">
    <h1>{{ 'pages.about' | t }}</h1>
    <div class="content">{{ 'text.about' | t | markdown_to_html | nl2br }}</div>
</section>
{% endblock %}
