header.top-header {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;

  background-color: $beige;
  align-items: center;
  justify-content: center;

  $menu-transition-duration: 200ms;

  aside.side-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    $width: 360px;
    $max-width: 90vw;

    width: $width;
    max-width: $max-width;

    height: 100vh;
    background-color: $dark-green;
    --box-shadow-size: 1rem;
    box-shadow: 0 0 var(--box-shadow-size)  #{scale-color($color: $black, $alpha: 25%)};

    transform: translateX(calc(min(#{-$width}, #{$max-width}) - var(--box-shadow-size)));
    transition: transform ease-in-out $menu-transition-duration;

    &.expanded {
      transform: translateX(0);
    }

    select.display-language-picker {
      position: absolute;
      inset: 0.25rem auto auto 0.25rem;
    }

    .top-bar {
      display: flex;
      align-items: center;
      height: 3rem;

      .side-menu-close-handle {
        height: 2.5rem;
        width: 2.5rem;
        background-color: $bright-green;
        border-radius: 1rem 0 0 1rem;
        cursor: pointer;
    
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;

        transition: color 200ms;

        &:hover {
          color: $white;
        }
      }
    }

    nav.side-menu-nav {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      a {
        font-size: 1.125rem;
        font-weight: bold;
        color: white;
        height: 2.5rem;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          border-bottom: 1px solid $bright-green;
        }

        &.logout {
          color: $red;
        }

        &.admin {
          color: $blue;
        }

        svg:first-child {
          margin-right: 0.25rem;

          &.logout-link {
            color: $red;
          }

          &.admin-link {
            color: $blue;
          }
        }
      }
    }
  }

  .shadow-on-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    background-color: $black;

    pointer-events: none;
    opacity: 0;
    transition: opacity $menu-transition-duration;
    
    &.shown {
      pointer-events: initial;
      opacity: 50%;
    }
  }

  .side-menu-open-handle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $bright-green;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;

    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;

    transition: color 200ms;

    &:hover {
      color: $white;
    }
  }

  .website-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: $font-cursive;
    font-size: 2.25rem;
    height: 3rem;
    color: $red;
    margin-right: auto;
  }
}