html {
  font-size: 5vw;
  
  @media screen and (min-width: $bp-desktop) {
    font-size: 16px;
  }

  body {
    margin: 0;
    background-color: $white;
    color: $black;
    font-family: $font-main;
    font-weight: 600;

    > *:not(.sf-toolbar), 
    > {
  
      img {
        max-width: 100%;
      }
  
      #container {
        margin: 0 0.5rem;
        padding-top: 0.5rem;
        @media screen and (min-width: $bp-desktop) {
          max-width: $container-size;
          margin: 0 auto;
          padding: 1rem;
          box-shadow: 0 0 min( (100vw - 1232px) / 2, #{$bp-desktop})  scale-color($color: black, $alpha: -50%);
        }
      }
  
      h1 {
        font-size: 1.5rem;
        line-height: 1em;
      }
      
      a {
        color: inherit;
        text-decoration: inherit;
        transition: opacity 200ms;
  
        &:not(.button):hover {
          opacity: 0.85;
        }
      }
  
      hr {
        $side-margin: 0.5rem;
        $vertical-margin: 1rem;
        width: calc(100% - #{$side-margin * 2});
        margin: $vertical-margin $side-margin !important;
        border: none;
        border-top: 1px solid $bright-green;
      }

      .hide-on-extra-large {
        @media screen and (min-width: $bp-extra-large) {
          display: none !important;
        }
      }
  
      .hide-on-large {
        @media screen and (min-width: $bp-large) {
          display: none !important;
        }
      }
  
      .hide-on-desktop {
        @media screen and (min-width: $bp-desktop) {
          display: none !important;
        }
      }

      .hide-on-mobile {
        @media screen and (max-width: calc(#{$bp-desktop} - 1px)) {
          display: none !important;
        }
      }
  
      form {
        display: flex;
        flex-direction: column;
    
        > *:not(button, script) {
          display: flex;
          flex-direction: column;
          
          > div {
            display: flex;
            flex-direction: column;
          }
        }
      }

      fieldset {
        display: flex;
        flex-direction: column;

        border-radius: 1em;
        border: 2px solid $gray-green;
        margin: 0.5em 0;
      }
  
      .autocomplete-container {
        background-color: $beige;
        border-radius: 1rem;
        margin-top: 0.5rem;
        box-shadow: 0 0 1rem scale-color($black, $alpha: -75%);
  
        & > div {
          padding: 0.25rem;
          cursor: pointer;
          color: mix($dark-green, $black);
  
          &::first-letter {
            margin-right: 0.125rem;
          }
  
          &.selected {
            background-color: scale-color($color: $bright-green, $lightness: 50%);
          }
  
          &:first-child {
            border-radius: 1rem 1rem 0 0;
          }
          
          &:last-child {
            border-end-end-radius: 1rem;
            border-end-start-radius: 1rem;
          }
  
          &:not(:last-child) {
            border-bottom: 1px solid scale-color($color: $dark-green, $alpha: -50%);
          }
        }
      }
  
      input, select, textarea {
        font-family: $font-main;
        font-weight: 600;
  
        &[type=text],
        &[type=password],
        &[type=time],
        &[type=email] {
          height: 2.5rem;
          background-color: $white;
          font-size: 1.125rem;
          border-radius: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          border: 2px solid $bright-green;
          color: $dark-green;
          
          &::placeholder {
            color: $gray-green;
            opacity: 50%;
          }
        }
  
        &[type=checkbox].checkbox-first {
          float: left;
        }
  
        &[type=number] {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $bright-green;
          font-size: 1.125rem;
          padding-top: 0.25rem;
          color: $gray-green;
        }
      }
  
      select {
        height: 2.5rem;
        background-color: $white;
        font-size: 1.125rem;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 2px solid $bright-green;
        color: $dark-green;
      }
  
      .fa-arrow-right-arrow-left {
        transform: rotate(90deg);
      }
  
      button,
      input[type=button],
      input[type=submit],
      .button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: $font-main;
        font-weight: 700;
        color: $black;
        background-color: $bright-green;
        padding: 0.5rem 1rem;
        // min-height: 3.125rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1.125rem;
  
        transition: color 150ms, background-color 150ms;
  
        &:hover, &:active {
          background-color: mix($bright-green, $dark-green);
  
          &:active {
            color: $beige;
            background: $dark-green;
          }
        }
      }

    }
  }
}

html body form {
  &.login-form,
  &.register-form {
    @media screen and (min-width: $bp-desktop) {
      max-width: $bp-desktop;
      margin: 0 auto;
    }
  }
}