$red: hsl(359, 47%, 51%);
$blue: hsl(216, 47%, 51%);
$black: hsl(136, 29%, 15%);
$white: hsl(40, 60%, 96%);
$beige: hsl(50, 61%, 90%);
$bright-green: hsl(78, 51%, 56%);
$dark-green: hsl(98, 32%, 45%);
$gray-green: hsl(135, 20%, 60%);

$font-mono: 'Oxygen Mono', monospace;
$font-cursive: 'Lobster', cursive;
$font-main: 'Nunito Sans', 'Open Sans', Arial, Helvetica, sans-serif;

$bp-desktop: 480px;
$bp-large: 768px;
$bp-extra-large: 1200px;

$container-size: $bp-extra-large;