<form method="post" action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm(`{{ 'form.recipeForm.confirmRemove' | t }}`);">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn">{{ 'form.remove' | t }}</button>
</form>
