{% extends 'base.html.twig' %}

{% block title %}{{ 'form.recipeForm.createNewRecipe' | t }}{% endblock %}

{% block body %}
    <h1>{{ 'form.recipeForm.createNewRecipe' | t }}</h1>

    {{ include('recipe/_form.html.twig') }}

    <a href="{{ path('app_recipe_index') }}">back to list</a>
{% endblock %}
