{% extends 'base.html.twig' %}

{% block title %}{{ 'form.recipeForm.createNewRecipe' | t }}{% endblock %}

{% block body %}
    <h1>{{ 'form.recipeForm.createNewRecipe' | t }}</h1>

    {% set editing = false %}
    {{ include('recipe/_form.html.twig') }}
{% endblock %}
