body {
  section.recipe {
    .recipe-top {
      display: flex;
      
      .duration-wrapper {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        color: $gray-green;

        .svg-inline--fa {
          transform: translateY(-7.5%);
          margin-right: 0.25rem;
        }
      }

      .portions-wrapper {
        margin-left: 0.25rem;
        display: flex;
        align-items: center;
        color: mix($black, $gray-green);

        .svg-inline--fa {
          transform: translateY(-7.5%);
          margin-right: 0.25rem;
        }

        .portions {
          &.abbreviation {
            display: initial;
          }

          &:not(.abbreviation) {
            display: none;
          }

          @media screen and (min-width: $bp-desktop) {
            &.abbreviation {
              display: none;
            }
  
            &:not(.abbreviation) {
              display: initial;
            }
          }
        }
      }

      .top-right-wrapper {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        .views-wrapper {
          display: flex;
          align-items: center;
          color: $gray-green;

          .views {
            margin-right: 0.125rem;
          }
        }

        .dot {
          color: $dark-green;
          display: flex;
          align-items: center;
          transform: translateY(-0.0625rem);
          margin: 0 0.25rem;
        }

        .score-wrapper {
          display: flex;
          align-items: center;

          .score {
            color: $bright-green;
          }

          .voting-wrapper {
            display: flex;
            flex-direction: row-reverse;
            font-size: 1.5rem;
            color: $bright-green;

            .vote {
              margin-left: 0.25rem;

              &.selected {
                color: $dark-green;
              }

              &.waiting {
                animation: blinking 1.5s ease 0s infinite normal forwards;
              }
            }
          }

          .score-icon {
            margin-left: 0.25rem;
            color: $gray-green;
          }
        }
      }
    }

    .thumbnail-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      max-height: 33vh;
      margin-bottom: 0.5rem;

      img {
        object-fit: cover;
        border-radius: calc(1rem / 3);
      }
    }

    h1 {
      margin: 0;
      color: $dark-green;
    }

    .author-and-date-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 0.875rem;

      .author-wrapper,
      .dot,
      .date-wrapper {
        display: flex;
        align-items: center;
        margin-right: calc(1em / 2.5);
        color: $gray-green;

        .author,
        .date {
          margin-left: 0.25rem;
        }
      }
    }

    .recipe-body {
      text-align: justify;
    }

    a.button,
    button {
      margin: 0.5rem 0;
    }

    a.report-link {
      display: block;
      color: $red;
      font-weight: bold;
    }
  }
}