{% extends 'base.html.twig' %}

{% block title %}{{ 'messages.errors.notFound.title' | t }}{% endblock %}

{% block body %}
  <h1>{{ 'messages.errors.notFound.title' | t }}</h1>

  <p>{{ 'messages.errors.notFound.message' | t }}</p>
{% endblock %}